/* Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	vertical-align: baseline;
}

/* End Reset */

/* buttons */
.btn {
	padding: 0.5rem 0.75em;
	background-color: #EEEEEE;
	border-radius: 0.35rem;
	border: 1px solid #F5F5F5;
}
