@import "mixins/_buttons.scss";

$primary : #007BFF;
$secundary : #7C4DFF;
$attention : #FF7F29;
$white : #FAFAFA;
$grey : #757575;


.btn {
    display: inline-block;
    margin: .25rem .5rem;
    padding: .5rem .75rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: .35rem;
    color: $grey;
    background-color: $white;
    @include user-select();
    @include transition(all, .125s, ease-in-out);
        &:active, &:focus {
            box-shadow: 0 0 0 .2rem rgba($grey,.5);
        }
        &:hover {
            background-color: lighten($grey, 50%);
            box-shadow: inset 0 0 -.1rem rgba($grey,.8) ;
            &::after {
                content: '';
                background-color: darken($grey, 80%);
                @include animation(button-3d,.15s, ease-in-out, 0s, 1);
            }
            &:active {
                background-color: lighten($grey, 45%);
            }
        }

    &.btn-primary {
        color: $white;
        background-color: $primary;
        &:active, &:focus {
            box-shadow: 0 0 0 .2rem rgba($primary,.5);
        }
        &:hover {
            background-color: darken($primary, 5%);
            &::after {
                content: '';
                background-color: darken($primary, 80%);
                @include animation(button-3d,.15s, ease-in-out, 0s, 1);
            }
            &:active {
                background-color: darken($primary, 10%);
            }
        }
    }
    
    &.btn-secundary {
        color: $white;
        background-color: $secundary;
        &:active, &:focus {
            box-shadow: 0 0 0 .2rem rgba($secundary, .5);
        }
        &:hover {
            background-color: darken($secundary, 5%);
            &::after {
                content: '';
                background-color: darken($secundary, 80%);
                @include animation(button-3d,.15s, ease-in-out, 0s, 1);
            }
            &:active {
                background-color: darken($secundary, 10%);
            }
        }
    }

    &.btn-attention {
        color: $white;
        background-color: $attention;
        &:active, &:focus {
            box-shadow: 0 0 0 .2rem rgba($attention, .5);
        }
        &:hover {
            background-color: darken($attention, 5%);
            &::after {
                content: '';
                background-color: darken($attention, 80%);
                @include animation(button-3d,.15s, ease-in-out, 0s, 1);
            }
            &:active {
                background-color: darken($attention, 10%);
            }
        }
    }
    
}

