@mixin user-select($param: none) {
    -webkit-user-select: $param;
       -moz-user-select: $param;
        -ms-user-select: $param;
            user-select: $param;
}

@mixin transition($type ,$time, $timing-function) {
    -webkit-transition: $type $time $timing-function;
       -moz-transition: $type $time $timing-function;
         -o-transition: $type $time $timing-function;
            transition: $type $time $timing-function;
}

@mixin animation($name: null, $duration:.5s, $timing-function:linear, $delay:0s,$iteration-count:infinite, $direction:normal, $fill-mode:backwards) {
    -webkit-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
       -moz-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
         -o-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
            animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
}
